<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
 <div class="head"> </div> 
     <title> Papeleria Hogward</title> 
     <!--link to css--->
     <link rel="scaylesheet" type="text/css" href="carritoestilo.css">
     <!--Box Icons-->
     <link href='https://unkpg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
 </head>
 <body>
 	<!--header-->
 	<header>
 		<!--Nav-->
 		<div class="nav container">
 		<a href="" class="logo"> Papeleria hogward </a>
<!--cart-Icon-->
<i class='bx bx-shopping-bag'></i></i>
 	</div>
 	</header>
 </body>
