
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Menu de navegacion con listas</title>
	<link rel="stylesheet" type="text/css" href="estiloss.css">
</head>
<body>
	<header>
		
			<center><h1>PAPELERIA HOWARDS</h1></center>
		
<ul class="menu">
	<li><a href="Inicio.html">Inicio</a></li>
	<li><a href="Formulario_producto.html">Productos</a></li>
	<li><a href="Formulario_venta.html">Servicios</a></li>
	<li><a href="Formulario_usuario.html">Registro</a></li>
	<li class="item"><a href="Formulario_usuario.html">Ingresar</a></li>
	</header>
</ul>
</body>
</html>